*{
    box-sizing: border-box;
    color: black;
}

body{
    background-color: #3C2A21;
}

.main-container{
    max-width: 1060px;
    margin: auto;
}

.buttons{
    display: flex;
}

.map-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locations{
    display: flex;
    flex-direction: column;
}

table{
    background-color: #cccccc;
    border: 2px black solid;
    border-spacing: 10px;
    word-spacing: 10px;
}

td {
    border: 3px black solid;
    width: 140px;
    text-align: center;    
}

